/* Set the background color of the page to white */
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.fileLabel {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  background:#203549;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
}

.fileLabel:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/* Style the upload buttons */
.upload {
  margin-top: 10px;
  padding: 10px;
  background-color: #b70707;
  color: white;
  border: none;
  cursor: pointer;
  display:flex;
  justify-content: center;
}

/* Style for the upload button */
.submitUpload {
  background-color:#203549;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.submitUpload:hover {
  background-color: #4c7dab;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #6d64f4, #61e7ff);
}

/* Style for the label element */
.fileLabel {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* Style for the input element */
.upload {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Style for the coverage table */
.coverageTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.coverageTable th,
.coverageTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.coverageTable th {
  background-color: #203549;
  color: #fff;
}

.coverageTable td {
  background-color: #fff;
  color: #555;
}

.coverageTable tr:hover td {
  background-color: #f2f2f2;
}


